# SQL Load Project 2

In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [2]:
csv_file = "API_weather.csv"
API_weather_df = pd.read_csv(csv_file)
API_weather_df.head()

     Lat    Lng        Date  Max Temp (F)  Rain (mm)
0  32.25 -80.75  2022-08-15          86.4        0.0
1  27.00 -82.25  2022-07-15          90.3        0.8
2  33.75 -79.00  2022-06-24          83.8        0.0
3  28.00 -82.75  2022-05-31          83.0        1.0
4  30.25 -89.75  2021-08-30          82.6       72.6

### Store Second CSV into Dataframe

In [3]:
alligator_file = "fatal_alligator_attacks_US_with_latlng.csv"
alligator_df = pd.read_csv(alligator_file)
alligator_df.head()

,Date,UNIX_start_date,UNIX_end_date,First Name,Last Name,Age,Sex,City,State,Lat,Lng,Details
0,2022-08-15,1.660522e+09,1.660522e+09,Nancy,Becker,88,female,Hilton Head Island,South Carolina,32.22,-80.75,The victim fell into a pond in a gated communi...
1,2022-07-15,1.657843e+09,1.657843e+09,Rose Marie,Wiegand,81,female,Englewood,Florida,26.96,-82.35,The victim fell into a pond along a golf cours...
2,2022-06-24,1.656029e+09,1.656029e+09,Micheal,Burstein,75,male,Myrtle Beach,South Carolina,33.69,-78.89,The victim was dragged into a pond in Myrtle B...
3,2022-05-31,1.653955e+09,1.653955e+09,Sean,McGuinness,47,male,Largo,Florida,27.91,-82.79,The victim was attacked while trying to retrie...
4,2021-08-30,1.630282e+09,1.630282e+09,Timothy,Satterlee,71,male,Slidell,Louisiana,30.28,-89.78,The victim was attacked in floodwaters of Hurr...

### Create new data with select columns

In [4]:
new_alligator_df = alligator_df[['Date', 'First Name', 'Last Name', 'Age', 'Sex', 'City', 'State', 'Lat', 'Lng', 'Details' ]].copy()
new_alligator_df.head()

,Date,First Name,Last Name,Age,Sex,City,State,Lat,Lng,Details
0,2022-08-15,Nancy,Becker,88,female,Hilton Head Island,South Carolina,32.22,-80.75,The victim fell into a pond in a gated communi...
1,2022-07-15,Rose Marie,Wiegand,81,female,Englewood,Florida,26.96,-82.35,The victim fell into a pond along a golf cours...
2,2022-06-24,Micheal,Burstein,75,male,Myrtle Beach,South Carolina,33.69,-78.89,The victim was dragged into a pond in Myrtle B...
3,2022-05-31,Sean,McGuinness,47,male,Largo,Florida,27.91,-82.79,The victim was attacked while trying to retrie...
4,2021-08-30,Timothy,Satterlee,71,male,Slidell,Louisiana,30.28,-89.78,The victim was attacked in floodwaters of Hurr...

In [5]:
protocol = 'postgresql'
username = 'postgres'
password = 'postgres'
host = 'localhost'
port = 5432
database_name = 'fatal_gator_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:postgresql